<div class="popup" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required>
    <mat-error >Required field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birth Date</mat-label>
    <input matInput [matDatepicker]="bDayPicker" formControlName="birthDate" name="birtDate">
<!--    <mat-hint>MM/DD/YYYY</mat-hint>-->
    <mat-datepicker-toggle matSuffix [for]="bDayPicker"></mat-datepicker-toggle>
    <mat-datepicker #bDayPicker></mat-datepicker>
    <mat-error >Required field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gender </mat-label>
    <mat-select placeholder="Select Gender" formControlName="gender">
      <ng-container *ngFor="let gender of getGenderValues(), let id=index">
        <mat-option [value]="id">{{gender}}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error >Required field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>E-mail:</mat-label>
    <input type="email" matInput placeholder="Enter your e-mail" formControlName="email" required>
    <mat-error >Required field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF: </mat-label>
    <input matInput formControlName="cpf" mask="000.000.000-00">
    <mat-error >Required field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" name="startDate">
<!--    <mat-hint>MM/YYYY</mat-hint>-->
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-error >Required field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Team </mat-label>
    <mat-select placeholder="Select Team" formControlName="team">
      <mat-option *ngFor="let team of getTeamValues(), let id=index" [value]="id">
        {{team}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<footer>
  <button *ngIf="!hasEmployeeData" mat-raised-button color="primary" (click)="editUserInfo()">
    Insert
  </button>
  <button *ngIf="hasEmployeeData" mat-raised-button color="accent" (click)="editUserInfo()">
    Edit
  </button>
  <button mat-raised-button color="warn" (click)="closeDialog()">
    Cancel
  </button>
</footer>
</div>
