table {
  width: 100%;
  align-content: center;
  padding: 2px;
  margin: 5px 5px 5px 5px;
  th {
    background-color: #7CE0D3;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
  }
  td {
    border: 1px #7CE0D3 dashed;
    padding-left: 10px;
    padding-right: 10px;
  }
  button{
    margin-left: 5px;
  }
}

footer, header {
  button {
    margin: 10px 10px 10px 10px;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
